<!-- nav bar -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-3"> <a href="mail-compose.html" class="btn btn-danger btn-block btn-compose-email">Write a note</a>
            <ul
            class="nav nav-pills flex-column nav-email shadow mb-20">
                <li class="active nav-item"> <a href="#mail-inbox.html" class="nav-link">

                    <i class="fa fa-inbox"></i> Inbox  <span class="label float-right">7</span>

                </a>
                </li>
                <li class="nav-item"> <a href="#mail-compose.html" class="nav-link"><i class="fa fa-envelope-o"></i> Send Mail</a>
                </li>
                <li class="nav-item"> <a href="#" class="nav-link"><i class="fa fa-certificate"></i> Important</a>
                </li>
                <li class="nav-item"> <a href="#" class="nav-link">

                    <i class="fa fa-file-text-o"></i> Drafts <span class="badge badge-info float-right inbox-notification">35</span>

                </a>
                </li>
                <li class="nav-item"><a href="#" class="nav-link"> <i class="fa fa-trash-o"></i> Trash</a>
                </li>
                </ul>
                <!-- /.nav -->
                 <h5 class="nav-email-subtitle">More</h5>
                <ul class="nav nav-pills flex-column nav-email mb-20 rounded shadow">
                    <li class="nav-item"> <a href="#" class="nav-link">

                    <i class="fa fa-folder-open"></i> Promotions  <span class="badge badge-danger float-right">3</span>

                </a>
                    </li>
                    <li class="nav-item"> <a href="#" class="nav-link">

                    <i class="fa fa-folder-open"></i> Job list

                </a>
                    </li>
                    <li class="nav-item"> <a href="#" class="nav-link">

                    <i class="fa fa-folder-open"></i> Backup

                </a>
                    </li>
                </ul>
                <!-- /.nav -->
        </div>
        <div class="col-md-9">
            <!-- resumt -->
            <div class="card">
                <div class="card-header resume-heading">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="col-xs-12 col-md-4">
                                <figure>
                                    <img class="rounded-circle img-fluid" alt="" src="http://placehold.it/300x300"
                                    />
                                </figure>
                                <div class="row">
                                    <div class="col-xs-12 social-btns">
                                        <div class="col-xs-3 col-lg-1 col-xl-1 social-btn-holder"> <a href="#" class="btn btn-social btn-block btn-google">

                                    <i class="fa fa-google"></i> </a>
                                        </div>
                                        <div class="col-xs-3 col-lg-1 col-xl-1 social-btn-holder"> <a href="#" class="btn btn-social btn-block btn-facebook">

                                    <i class="fa fa-facebook"></i> </a>
                                        </div>
                                        <div class="col-xs-3 col-lg-1 col-xl-1 social-btn-holder"> <a href="#" class="btn btn-social btn-block btn-twitter">

                                    <i class="fa fa-twitter"></i> </a>
                                        </div>
                                        <div class="col-xs-3 col-lg-1 col-xl-1 social-btn-holder"> <a href="#" class="btn btn-social btn-block btn-linkedin">

                                    <i class="fa fa-linkedin"></i> </a>
                                        </div>
                                        <div class="col-xs-3 col-lg-1 col-xl-1 social-btn-holder"> <a href="#" class="btn btn-social btn-block btn-github">

                                    <i class="fa fa-github"></i> </a>
                                        </div>
                                        <div class="col-xs-3 col-lg-1 col-xl-1 social-btn-holder"> <a href="#" class="btn btn-social btn-block btn-stackoverflow">

                                    <i class="fa fa-stack-overflow"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-8">
                                <ul class="list-group">
                                    <li class="list-group-item">John Doe</li>
                                    <li class="list-group-item">Software Engineer</li>
                                    <li class="list-group-item">Google Inc.</li>
                                    <li class="list-group-item"><i class="fa fa-phone"></i> 000-000-0000</li>
                                    <li class="list-group-item"><i class="fa fa-envelope"></i> john@example.com</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bs-callout bs-callout-danger">
                     <h4>Summary</h4>
                    <p>test Profile.</p>
                    <p>Prospective Leads Profile</p>
                </div>
                <div class="bs-callout bs-callout-danger">
                     <h4>Research Interests</h4>
                    <p>Software Engineering, Machine Learning, Image Processing, Computer Vision,
                        Artificial Neural Networks, Data Science, Evolutionary Algorithms.</p>
                </div>
                <div class="bs-callout bs-callout-danger">
                     <h4>Prior Experiences</h4>
                    <ul class="list-group"> <a class="list-group-item inactive-link" href="#">

                        <h4 class="list-group-item-heading">

                           Software Engineer at Twitter

                        </h4>

                        <p class="list-group-item-text">

                          Profile Update

                        </p>

                     </a>
 <a class="list-group-item inactive-link" href="#">

                        <h4 class="list-group-item-heading">Software Engineer at LinkedIn</h4>

                        <p class="list-group-item-text">

                          Business Logic development

                        </p>

                        <ul>

                           <li>

                            data collection
                           </li>

                           <li>

                            data Analysis

                           </li>

                        </ul>

                        <p></p>

                     </a>
                    </ul>
                </div>
                <div class="bs-callout bs-callout-danger">
                     <h4>Key Expertise</h4>
                    <ul class="list-group">
                        <li class="list-group-item">MySql</li>
                        <li class="list-group-item">Nodejs</li>
                        <li class="list-group-item">Angularjs2</li>
                        <li class="list-group-item">PHP</li>
                        <li class="list-group-item">Reactjs</li>
                        <li class="list-group-item">Emberjs</li>
                    </ul>
                </div>
                <div class="bs-callout bs-callout-danger">

                <div class="bs-callout bs-callout-danger">
                     <h4>Education</h4>
                    <table class="table table-striped table-responsive ">
                        <thead>
                            <tr>
                                <th>Degree</th>
                                <th>Graduation Year</th>
                                <th>CGPA</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Masters in Computer Science and Engineering</td>
                                <td>2014</td>
                                <td>3.50</td>
                            </tr>
                            <tr>
                                <td>BSc. in Computer Science and Engineering</td>
                                <td>2011</td>
                                <td>3.25</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- resume -->
    </div>
</div>
